API/__pycache__/__init__.cpython-310.pyc
API/__pycache__/config.cpython-310.pyc
API/__pycache__/DBManager.cpython-310.pyc
API/__pycache__/feu.cpython-310.pyc
API/__pycache__/models.cpython-310.pyc
/EmergencyJava/nbproject/private/
/EmergencyJava/build/